.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  background-color: #9b51e0;
  border-radius: 8px;
  padding: 10px;
}

input {
  border: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4a148c;
}
